# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives***
- List popular languages for Data Science
- List libraries used by Data Scientists
- Examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R-Studio
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matlplotlib
4. Seaborn

| Data Science Tools |
| ----------------- | 
|  Jupyter Notebook 
 R-Studio 
 MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python
- 2 + 3
- 5- 6
- 8/2

In [15]:
2 + 3

5

In [16]:
8/2 - 6/2

1.0

In [17]:
(7-4/2)/2

2.5

In [18]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Felipe Reyes Tuz Poot